@import "../sass/defs.scss";

$half-space: 0.5 * $spacing-unit !default;

.question {
    background: lighten($background-color, 3%);
    border-radius: 10px;
    margin: $half-space 0px;
    padding-top: $spacing-unit;
    padding-right: $spacing-unit;
    padding-bottom: $spacing-unit;
    padding-left: $spacing-unit;

    &__statement {
        font-weight: bold;
    }

    &__answers {
        padding: 0px;

        &--multiple-choice, &--all-that-apply {
            display: flex;
            flex-direction: row;
        }

        &--short-answer, &--long-answer {
        }
    }
}
