@import "./sass/defs";

.search {
    width: 100%;
    display: flex;

    &__text {
        width: 100%;
        padding: 10px 5px;
        border-radius: 10px;
        margin-right: 10px;
    }


    &__button {
        width: 50px;
        border-radius: 5px;
        font-family: $base-font-family;
        font-size: $base-font-size;
        padding: 5px 10px;

        background: $brand-color;
        color: $background-color;
        border: 2px solid $brand-color;
        box-shadow: 0 0 0 1px #e0e0e0;
        font-weight: bold;

        &:hover {
            cursor: pointer;
            border: 2px solid $text-color;
        }

    }
}
