{{ define "main" }}
<div class="wrapper wrapper--wide">
    <div class="team">
        <header class="team__header">
            <img class="team__banner" src="/images/teams/{{ .Params.Identifier }}/banner.webp" alt="Team Headshots" />
            <ul class="team__members">
                {{ range .Params.Members }}
                    <li class="team__member">
                        <ul class="team__member__info">
                            <li class="team__member__info__name">{{ .name }}</li>
                            {{ if .scholar }}<li class="team__member__info__link"><a href="{{ .scholar }}">{{ .scholar }}</a></li>{{ end }}
                            {{ if .contact }}<li class="team__member__info__link"><a href="{{ .contact }}">{{ .contact }}</a></li>{{ end }}
                            {{ if .website }}<li class="team__member__info__link"><a href="{{ .website }}">{{ .website }}</a></li>{{ end }}
                            {{ if .github }}<li class="team__member__info__link"><a href="{{ .github }}">{{ .github }}</a></li>{{ end }}
                        </ul>
                    </li>
                {{ end }}
            </ul>
            <h1 class="team__title">{{ .Title }}</h1>
        </header>
        <div class="team__content">
            <div class="team_sections">
                {{ if .Content }}
                <div class="team__section team__blurb">
                <h1>About Our Team</h1>
                {{ .Content }}
                </div>
                {{ end }}
                <div class="team__section team__section--horizontal">
                    {{ range .Pages.GroupBy "Layout" }}
                    <div>
                        <h1>{{ .Key | title }}</h1>
                        <ul>
                            {{ range .Pages.ByDate.Reverse }}
                            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </div>
                <div class="team__section">
                    <h1>Experience</h1>
                    <div class="team__body">
                        {{ range .Site.Data.experience }}
                            {{ partial "experience.html" . }}
                        {{ end }}
                    </div>
                </div>
                <div class="team__section">
                    <h1>Publications</h1>
                    <div class="team__body">
                        <ol class="bibliography">
                            {{ range sort .Site.Data.bibliography  "date.year" "desc" }}
                                {{ partial "reference.html" . }}
                            {{ end }}
                        </ol>
                    </div>
                </div>
                <div class="team__section">
                    <h1>Professional Associations</h1>
                    <div class="team__body">
                        <ul class="team__list">
                            {{ range sort .Site.Data.associations }}
                                <li class="team__item"><a href="{{ .url }}">{{ .name }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
