{{ define "main" }}
<div class="wrapper wrapper--narrow">
    <article class="post">
        {{ if .Title }}
        <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
        </header>
        {{ end }}

        <div class="post-content">
            {{ if .Pages.ByTitle }}
                {{ range .Pages.ByTitle }}
                    <div>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <p>{{ .Params.description }}</p>
                        <ul>
                            <li>Applicability: {{ .Params.Applicability }}</li>
                            <li>Risk: {{ .Params.Risk }}</li>
                            <li>Reward: {{ .Params.Reward }}</li>
                        </ul>
                    </div>
                {{ end }}
            {{ else }}
                <h2>Science Takes Time</h2>

                <p>39 Alpha Research is tirelessly working on high-quality,
                comprehensible research, so stay tuned for updates.</p>
            {{ end }}
        </div>
    </article>
</div>
{{ end }}

