{{ define "main" }}
<div class="wrapper wrapper--narrow">
    <article class="post">
        <header class="post-header post-header--visible">
            {{ .Content }}
        </header>

        <div class="post-content">
            {{ if .Pages.ByTitle }}
                {{ range .Pages.ByTitle }}
                    <div class="textover space-after">
                        <a href="{{ .RelPermalink }}">
                            <img src="/images/teams/{{ .Params.Identifier }}/banner.webp" alt="Team 0 Headshots" />
                        </a>
                        <h2 class="textover_top-right"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2 class="textover_top-right">
                    </div>
                {{ end }}
            {{ else }}
                <h2>Science Takes Time</h2>
                
                <p>39Alpha Research is tirelessly working on high-quality,
                comprehensible research, so stay tuned for updates.</p>
            {{ end }}
        </div>
    </article>
</div>
{{ end }}

