{{ define "main" }}
<script>
const projects = [
{{ range where .Site.Pages.ByTitle "Type" "projects" }}
    {{ if and (isset .Params "applicability") (isset .Params "risk") (isset .Params "reward") }}
        {
            title: "{{ .Title }}",
            applicability: {{ .Params.Applicability }},
            risk: {{ .Params.Risk }},
            reward: {{ .Params.Reward }},
            url: "{{ .RelPermalink }}",
        },
    {{ end }}
{{ end }}
];
</script>
<div class="wrapper wrapper--wide">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
        </header>

        <div class="post-content">
            {{ .Content }}
        </div>
    </article>

    <div style="text-align: center">
        <svg id="risk-vs-applicability"></svg>
    </div>

    <script type="text/javascript" id="Project Plot" src="/js/project-plot.js"></script>
</div>
{{ end }}
