{{ define "main" }}
<script>
const projects = [
{{ range where .Site.Pages.ByTitle "Type" "projects" }}
    {{ if and (isset .Params "applicability") (isset .Params "risk") (isset .Params "reward") }}
        {
            title: "{{ .Title }}",
            applicability: {{ .Params.Applicability }},
            risk: {{ .Params.Risk }},
            reward: {{ .Params.Reward }},
            url: "{{ .RelPermalink }}",
        },
    {{ end }}
{{ end }}
];
</script>
<div class="wrapper wrapper--wide">
    <article class="post">
        <div class="post-content">
            {{ .Content }}
        </div>
    </article>

    <div class="figure">
        <p class="figure__caption">
            The figure below presents projects planned and in-progress at 39 Alpha. Each point is
            a different project which we have subjectively assessed in terms of how theoretical the
            work is, how risky the project is, and how much society stands to gain from successful
            completion. Clicking the points will take to you the project's page.
        </p>
        <svg class="figure__image" id="risk-vs-applicability"></svg>
    </div>

    <script type="text/javascript" id="Project Plot" src="/js/project-plot.js"></script>
</div>
{{ end }}
