{{ define "main" }}
<div class="wrapper wrapper--medium">
    {{ partial "breadcrumbs.html" . }}
    <div class="post">
        <header class="post__header">
            <h1 class="post__title">{{ .Title }}</h1>
        </header>

        <article class="post__content">
            <div class="news__item">
                <p class="news__details">
                    {{ if .Params.Team }}
                        {{ with .Site.GetPage "team" }}
                            <span class="news__team"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span> &mdash;
                        {{ end }}
                    {{ end }}
                    <time class="news__datetime">{{ time.Format "2006-01-02 15:04:05 MST" .Date }}</time>
                </p>
                {{ if .Params.Flash }}
                <div class="news__flash">
                    {{ if hasPrefix .Params.Flash.Src "/" }}
                    <img src="{{ .Params.Flash.Src }}" alt="{{ .Params.Flash.Alt }}" />
                    {{ else }}
                    <img src="/news/images/{{ .Params.Flash.Src }}" alt="{{ .Params.Flash.Alt }}" />
                    {{ end }}
                </div>
                {{ end }}
                <div class="news__body">
                    {{ .Content }}
                </div>
            </div>
        </article>
    </div>
</div>
{{ end }}
