.chroma {
    color: $text-color;
    background-color: $background-color;
    @extend %vertical-rhythm;

    .x {  }
    .err { color: #a61717; background-color: #e3d2d2 }
    .cl {  }
    .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
    .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
    .hl { background-color: #ffffcc }
    .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
    .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
    .line { display: flex; }
    .k { color: #6ab825; font-weight: bold }
    .kc { color: #6ab825; font-weight: bold }
    .kd { color: #6ab825; font-weight: bold }
    .kn { color: #6ab825; font-weight: bold }
    .kp { color: #6ab825 }
    .kr { color: #6ab825; font-weight: bold }
    .kt { color: #6ab825; font-weight: bold }
    .n {  }
    .na { color: #bbbbbb }
    .nb { color: #24909d }
    .bp {  }
    .nc { color: #447fcf; text-decoration: underline }
    .no { color: #40ffff }
    .nd { color: #ffa500 }
    .ni {  }
    .ne { color: #bbbbbb }
    .nf { color: #447fcf }
    .fm {  }
    .nl {  }
    .nn { color: #447fcf; text-decoration: underline }
    .nx {  }
    .py {  }
    .nt { color: #6ab825; font-weight: bold }
    .nv { color: #40ffff }
    .vc {  }
    .vg {  }
    .vi {  }
    .vm {  }
    .l {  }
    .ld {  }
    .s { color: #ed9d13 }
    .sa { color: #ed9d13 }
    .sb { color: #ed9d13 }
    .sc { color: #ed9d13 }
    .dl { color: #ed9d13 }
    .sd { color: #ed9d13 }
    .s2 { color: #ed9d13 }
    .se { color: #ed9d13 }
    .sh { color: #ed9d13 }
    .si { color: #ed9d13 }
    .sx { color: #ffa500 }
    .sr { color: #ed9d13 }
    .s1 { color: #ed9d13 }
    .ss { color: #ed9d13 }
    .m { color: #3677a9 }
    .mb { color: #3677a9 }
    .mf { color: #3677a9 }
    .mh { color: #3677a9 }
    .mi { color: #3677a9 }
    .il { color: #3677a9 }
    .mo { color: #3677a9 }
    .o {  }
    .ow { color: #6ab825; font-weight: bold }
    .p {  }
    .c { color: #999999; font-style: italic }
    .ch { color: #999999; font-style: italic }
    .cm { color: #999999; font-style: italic }
    .c1 { color: #999999; font-style: italic }
    .cs { color: #e50808; background-color: #520000; font-weight: bold }
    .cp { color: #cd2828; font-weight: bold }
    .cpf { color: #cd2828; font-weight: bold }
    .g {  }
    .gd { color: #d22323 }
    .ge { font-style: italic }
    .gr { color: #d22323 }
    .gh { color: #ffffff; font-weight: bold }
    .gi { color: #589819 }
    .go { color: #cccccc }
    .gp { color: #aaaaaa }
    .gs { font-weight: bold }
    .gu { color: #ffffff; text-decoration: underline }
    .gt { color: #d22323 }
    .gl { text-decoration: underline }
    .w { color: #666666 }
}
