@import "defs";

$table-text-align: left !default;

// Width of the content area
$narrow-content-width: 800px !default;
$wide-content-width:   1600px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-narrow:        1300px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import
  "39alpha/base",
  "39alpha/layout",
  "39alpha/syntax-highlighting"
;
