{{ define "main" }}
<div class="wrapper wrapper--narrow">
    <div class="team">
        <header class="team__header">
            <h1 class="team__title">{{ .Title }}</h1>
            <img class="team__banner" src="/images/teams/{{ .Params.Identifier }}/banner.webp" alt="Team Headshots" />
            <ul class="team__members">
                {{ range .Params.Members }}
                    <li class="team__member">
                        <ul class="team__member__info">
                            <li class="team__member__info__name">{{ .name }}</li>
                            {{ if .website }}<li class="team__member__info__link"><a href="{{ .website }}">{{ .website }}</a></li>{{ end }}
                            {{ if .github }}<li class="team__member__info__link"><a href="{{ .github }}">{{ .github }}</a></li>{{ end }}
                        </ul>
                    </li>
                {{ end }}
            </ul>
        </header>
        <div class="team__content">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
