.site-header {
    min-height: $spacing-unit * 1.865;

    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
}

.site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin: $spacing-unit 0;
    text-align: center;

    &, &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    font-size: $large-font-size;
    font-weight: bold;
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .trigger {
        ul {
            list-style: none;
        }

        & > ul {
            list-style: none;
            padding: 0;
            margin: 0;

            & > li {
                display: inline-block;
                a:hover ~ ul {
                    display: block;
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }

                & > ul {
                    line-height: $base-line-height;
                    background: $background-color;
                    // border-left: 1px solid $brand-color;
                    // border-right: 1px solid $brand-color;
                    // border-bottom: 1px solid $brand-color;
                    padding: 10px;
                    margin-left: -10px;
                    display: none;
                    position: absolute;
                    top: 90%;
                    z-index: 500;
                    text-align: left;

                    &:hover {
                        display: block;
                    }
                }
            }
        }
    }

    .page-link {
        // color: lighten($brand-color, 15%);
        line-height: $base-line-height;

        &:visited {
            // color: lighten($brand-color, 15%);
        }

        &:hover {
            color: $brand-color;
            text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        text-align: left;

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                fill: $grey-color-dark;
            }
        }

        input ~ .trigger {
            clear: both;
            display: none;
        }

        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }

        .trigger {
            ul {
                list-style: none;
                display: block;
                &:first-child {
                    margin: 0;
                }
                li {
                    display: list-item;
                    ul {
                        line-height: $base-line-height;
                        display: block;
                        position: static;
                        border: 0px;
                        margin: auto 0px;
                        padding: auto 0px;
                    }
                }
            }
        }
    }
}

.home-announcement {
    text-align: center;
    font-size: $large-font-size;
    font-weight: bold;
    margin-top: 3 * $base-font-size;
}

.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.page-content {
    padding: $spacing-unit 0;
    flex: 1;
}

.page-heading {
    @include relative-font-size(2);
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}

.post-header {
    display: none;
    margin-bottom: $spacing-unit;
}

.post-title, .notebook-title {
    @include relative-font-size(2);
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;

    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }
}

.post-content, .notebook-content {
    margin-bottom: $spacing-unit;

    h2 {
        @include relative-font-size(2);

        @include media-query($on-laptop) {
            @include relative-font-size(1.75);
        }
    }

    h3 {
        @include relative-font-size(1.625);

        @include media-query($on-laptop) {
            @include relative-font-size(1.375);
        }
    }

    h4 {
        @include relative-font-size(1.25);

        @include media-query($on-laptop) {
            @include relative-font-size(1.125);
        }
    }
}

.notebook-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
        img {
            width: 30px;
            height: 30px;
            padding: 10px 0px 0px 20px;
        }
    }
}

.giving {
    width: 100%;
    left: 0%;
}

.giving__levels {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

.giving__level {
    position: relative;
    width: 204px;
    height: 434px;
    flex-shrink: 0;
    &:first-child {
        padding-right: 35px;
    }
}

.giving__level--wide {
    width: 511px;
}

.giving__hover {
    position: absolute;
    width: 204px;
    height: 415px;
}

.giving__hover--wide {
    width: 511px;
    height: 434px;
}

.giving__hover--hidden {
    display: none;
}

.project {
    h1 {
        text-align: center;
    }

    &__header {
        text-align: center;
    }

    &__sections {
        display: flex;
    }

    &__section {
        position: relative;
        min-width: $narrow-content-width / 2;
        width: 50%;
        padding: 0px 100px;
        margin-top: 50px;
        min-height: 100%;
        text-align: justify;

        h1 {
            color: $brand-color;
            opacity: 0.8;
            position: absolute;
            top: 0%;
            margin: 10px 0px 0px 0px;
        }


        h2 {
            margin-top: 15px;
            margin-bottom: 7px;
            color: #444444;
        }

        h3 {
            margin: 15px 10px 7px 0px;
            color: #444444;
            font-style: italic;
        }
    }

    &__section--conversational {
        border-right: 1px solid $brand-color;

        h1 {
            font-weight: normal;
            right: 0%;
            transform: rotate(90deg);
            padding: 0px 0px 330px 0px;
        }
    }

    &__section--technical {
        border-left: 1px solid $brand-color;

        h1 {
            font-weight: normal;
            left: 0%;
            transform: rotate(90deg);
            padding: 265px 0px 0px 0px;
            margin-top: 7px
        }
    }

    &__notebook-list {
        margin: 0px auto;
        max-width: 60%;
    }

    @include media-query($on-narrow) {
        &__sections {
            display: block;
            margin: 0px auto 100px auto;
        }

        &__section {
            min-width: inherit;
            width: 80%;
            padding: 0px 10px;
            margin: 0px auto 0px auto;
            min-height: 100%;
            text-align: justify;

            h1 {
                color: $brand-color;
                opacity: 0.8;
                position: static;
                top: inherit;
                margin: inherit;
            }

            h2 {
                margin-top: 15px;
                margin-bottom: 7px;
                color: #444444;
            }

            h3 {
                margin: 15px 10px 7px 0px;
                color: #444444;
                font-style: italic;
            }
        }

        &__section--conversational {
            border-right: none;
            border-bottom: 1px solid $brand-color;

            h1 {
                font-weight: normal;
                right: inherit;
                transform: none;
                padding: 0px 10px;
                margin: 30px 0px 10px 0px;
            }
        }

        &__section--technical {
            border-left: none;
            border-top: 1px solid $brand-color;

            h1 {
                font-weight: normal;
                left: inherit;
                transform: none;
                padding: 0px 10px;
                margin: 30px 0px 10px 0px;
            }
        }

        &__notebook-listing {
            min-width: inherit;
            width: 80%;
            padding: 0px 10px;
            margin: 50px auto 0px auto;
            min-height: 100%;
            text-align: justify;
        }

        &__notebook-list {
            max-width: inherit;
            text-align: justify;
        }
    }
}

#code-hider {
    text-align: right;
    padding-bottom: 10px;

    span {
        color: $brand-color;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: $brand-color;
            text-decoration: underline;
        }
    }
}

.code--hidden {
    display: none;
}

.shout {
    margin: 0px 40px 40px 40px;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.axis--label {
    font-family: "Courier New", monospace;
    fill: #000000;
}

.project--node {
    stroke: black;
    stroke-width: 1px;
    opacity: 0.7;
}

.project--label {
    font: 12pt "Courier New", monospace;
}

#projects {
    text-align: justify;
}

.project--hidden {
    display: none;
}
