<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper wrapper--wide">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">
                        {{ with .Site.Params.author.name }}
                            {{ . }}
                        {{ else }}
                            {{ .Site.Title }}
                        {{ end }}
                    </li>
                    {{ with .Site.Params.author.email }}
                    <li><a class="u-email" href="mailto:{{ . }}">{{ . }}</a></li>
                    {{ end }}
                    {{ with split .Site.Params.author.address.mailing "\n"}}
                    <li>{{ delimit . "</br>" }}</li>
                    {{ end }}
                </ul>
                A 501(c)(3) Organization.<br />
                {{ with .Site.Params.ein }}
                    EIN: {{ . }}<br />
                {{ end }}
                {{ with .Site.Params.legal }}
                    <a href="{{ . }}">Legal Documentation</a>
                {{ end }}
            </div>

            <div class="footer-col footer-col-2">
                {{ partial "social.html" . }}
            </div>

            <div class="footer-col footer-col-3">
                {{- partial "donate.html" . -}}
            </div>
        </div>
        <p class="site-footer__copyright">
            &#169; 2019-2022 39 Alpha Research.|
            All Rights Reserved.
        </p>
    </div>
</footer>
