<header class="team__header">
    <img class="team__banner" src="/images/teams/{{ .Params.Identifier }}/banner.webp" alt="Team Headshots" />
    <ul class="team__members">
        {{ range .Params.Members }}
            <li class="team__member">
                <ul class="team__member__info">
                    <li class="team__member__info__name">{{ .name }}</li>
                    {{ if .email }}
                    <li class="team__member__info__item">
                        <a href="mailto:{{ .email }}">{{ .email }}</a>
                    </li>
                    {{ end }}
                    <li class="team__member__info__item">
                        {{ if .github }}
                        <a class="team__member__info__social" href="https://github.com/{{ .github }}">
                            <svg class="svg-icon">
                                <use xlink:href="/images/39alpha-social-icons.svg#github"></use>
                            </svg>
                        </a>
                        {{ end }}
                    </li>
                </ul>
            </li>
        {{ end }}
    </ul>
    {{ if .Title }}
    <div class="team__titlebar">
        <div class="team__title">
            <h1>{{ .Title }}</h1>
        </div>
        {{ if .Params.ShowRss }}
        <div class="team__links">
            <a href="index.xml" title="Team RSS">
                <svg class="svg-icon" alt="RSS Icon">
                    <use xlink:href="/images/39alpha-social-icons.svg#rss"></use>
                </svg>rss
            </a>
        </div>
        {{ end }}
    </div>
    {{ end }}
</header>
