{{ define "main" }}
<div class="wrapper wrapper--narrow">
    <article class="post">
        {{ if .Title }}
        <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
        </header>
        {{ end }}
        <div class="post-content">
            {{ if .Pages.ByTitle }}
                {{ range .Pages.ByTitle }}
                    <div>
                        <div class="notebook-header">
                            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                            <a href="{{ path.Join (.RelPermalink) "notebook.zip" }}" title="Download Notebook">
                                <img src="/images/download.png" alt="Download Notebook Icon"/>
                            </a>
                        </div>
                        {{ if isset .Params "description" }}
                            <p>{{ .Params.description }}</p>
                        {{ else }}
                            <p>{{ .Summary }}</p>
                        {{ end }}
                    </div>
                {{ end }}
            {{ else }}
                <h2>Science Takes Time</h2>

                <p>39Alpha Research is tirelessly working on high-quality,
                comprehensible research, so stay tuned for updates.</p>
            {{ end }}
        </div>
    </article>
</div>
{{ end }}
