---
layout: narrow
---
<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        {% for notebook in site.notebooks %}
            <div>
                <div class="notebook-header">
                    <h2><a href="{{ notebook.url | relative_url }}">{{ notebook.title | escape}}</a></h2>
                    <a href="{{ notebook.url | relative_url }}notebook.ipynb" title="Download Notebook">
                        <img src={{ "/assets/images/download.png" | relative_url }} alt="Download Notebook Icon"/>
                    </a>
                </div>
                <p>{{ notebook.description | default: notebook.excerpt }}</p>
            </div>
        {% endfor %}
    </div>
</article>
