---
layout: narrow
---
<article class="notebook">
    <header class="notebook-header">
        <h1 class="notebook-title">{{ page.title | escape }}</h1>
        <a href="notebook.ipynb" title="Download Notebook">
            <img src={{ "/assets/images/download.png" | relative_url }} alt="Download Notebook Icon"/>
        </a>
    </header>

    <div id="code-hider" onclick="toggle_code();"><span>Hide Code</span></div>

    <div class="notebook-content">
        {{ content }}
    </div>

    <script>
        function toggle_code() {
            const is_hidden = d3.select('.highlight')
                .classed('code--hidden');
            if (is_hidden) {
                d3.selectAll('.highlight')
                    .classed('code--hidden', false);
                d3.selectAll('#code-hider')
                    .selectAll('span')
                    .html('Hide Code');
            } else {
                d3.selectAll('.highlight')
                    .classed('code--hidden', true);
                d3.selectAll('#code-hider')
                    .selectAll('span')
                    .html('Show Code');
            }
        }
    </script>
</article>
