---
layout: wide
---
<div class="project">
<header class="project__header">
    <h1 class="project-title">{{ page.title | escape }}</h1>
</header>

<div class="project__sections">
{% assign raw_content = content | split: '<hr />' %}
{% assign conversational = raw_content | first %}
    <article class="project__section project__section--conversational">
        <h1>Conversational Description</h1>
        {{ conversational }}
    </article>
{% assign technical = raw_content | last %}
    <article class="project__section project__section--technical">
        <h1>Technical Description</h1>
        {{ technical }}
    </article>
</div>

<div class="project__notebook-listing">
{% if page.notebooks %}
<h1>Project Notebooks</h1>
<ul class="project__notebook-list">
    {% for notebook in page.notebooks %}
    {% capture notebook_dir %}/notebooks/{{ notebook }}/{% endcapture %}
    {% assign notebook_page = site.notebooks | where: "dir", notebook_dir | first %}
    <div class="notebook-header">
        <h2><a href="{{ notebook_page.url | relative_url }}">{{ notebook_page.title | escape}}</a></h2>
        <a href="{{ notebook_page.url | relative_url }}notebook.ipynb" title="Download Notebook">
            <img src={{ "/assets/images/download.png" | relative_url }} alt="Download Notebook Icon"/>
        </a>
    </div>

    <p>{{ notebook_page.description | default: notebook_page.excerpt }}</p>
    {% endfor %}
</ul>
{% endif %}
</div>
</div>
