{{ define "main" }}
<div class="wrapper wrapper--narrow">
    {{ partial "breadcrumbs.html" . }}
    <article class="minutes">
        <div class="minutes__content">
            <header class="minutes__header">
                <h1>Meeting Minutes {{ time.Format "2006-01-02 15:04" .Date }}
                    {{ with .Params.location }}
                    @ {{ . }}
                    {{ end }}
                </h1>
                <div>
                    <h1>Purpose</h1>
                    <p>{{ .Params.purpose }}</p>
                    <h1>Attendees</h1>
                    <p>{{ delimit .Params.attendees ", " " and " }}</p>
                </div>
            </header>
            <article class="minutes__article">
                {{ .Content }}
            </article>
            <footer class="minutes__footer">
                {{- if or .Params.adjourned.by .Params.adjourned.at -}}
                <p>The meeting was adjourned
                    {{ with .Params.adjourned.at }}
                    at {{ . }}
                    {{ end }}
                    {{ with .Params.adjourned.by }}
                    by {{ . }}
                    {{ end }}
                </p>
                {{- end -}}
                <p>Submitted By: {{ .Params.submitted }}</p>
            </footer>
        </div>
    </article>
</div>
{{ end }}
