{{ define "main" }}
<div class="wrapper wrapper--narrow">
    <article class="post">
        <div class="post-content">
            {{ if .Title }}
            <header class="post-header">
                <h1>{{ .Title }}</h1>
            </header>
            {{ end }}
            <article class="post-article">
                {{ .Content }}
                <hr>
                {{ range sort .Site.Data.datasets "title" "desc" }}
                <div class="dataset__section">
                    <h1 class="dataset__header"><a name="{{ .title | urlize }}">{{ .title }}</a></h1>
                    <p class="dataset__description">{{ .description }}</p>
                    {{ with .versions }}
                        <div class="version__sections">
                        <h1>Versions</h1>
                        {{ range sort . "date" "desc" }}
                            <div class="version__section">
                                <h1><a href="https://gateway.39alpharesearch.org/{{ .ipfsHash }}">{{ .date }}</a></h1>
                                <p class="version__notes">{{ .notes }}</p>
                            </div>
                        {{ end }}
                        </div>
                    {{ end }}
                </div>
                {{ end }}
            </article>
        </div>
    </article>
</div>
{{ end }}
